.home-page {
  .home-page-header {
    align-items: center;
    background-color: $bg-color;
    height: 60px;

    h4 {
      color: white;
      font-size: 2em;
      margin-bottom: 0;
      text-align: center;
    }
  }

  .page-divider {
    align-items: center;
    display: flex;
    justify-content: center;

    .divider-line {
      height: 100%;
    }
  }
}
