.left-panel-loading {
  align-items: center;
  display: flex;
  height: calc(100vh - 60px);
  justify-content: center;
}

.left-panel {
  height: calc(100vh - 60px);
  overflow: scroll;
  border-right: 1px solid rgba(0, 0, 0, 0.06);
}

@media only screen and (max-width: 767px) {
  .left-panel {
    height: auto;
    overflow: visible;
    border-right: none;
  }
}
